.playerTurn {
    /* Sets min and max font sizes */
    font-size: clamp(.75rem, 2vw, 2rem);
}

/* Set grid areas */
#answer {
    grid-area: answer;
}

#guess {
    grid-area: guess;
}

#pass {
    grid-area: pass;
}

/* Set margin for player input area */
.playerInput {
    margin: 2rem;
}

/* Set layout for input grid */
.playerInput > .userInput {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "answer answer"
        "guess  pass";
    gap: 10px;
}

.playerScore {
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nextRound {
    margin-inline: 10rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}

.nextRoundBtn {
    background-color: var(--clr-primary-0);
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 
        inset 2px 2px 2px var(--clr-primary-2),
        inset -2px -2px 2px var(--clr-primary-4);
}

.nextRoundBtn:hover, .nextRoundBtn:focus {
    background-color: var(--clr-primary-2);
    color: black;
    text-shadow: none;
    box-shadow: 
        inset 2px 2px 2px var(--clr-primary-0),
        inset -2px -2px 2px var(--clr-primary-3);
}