.gameImage {
    width: 90%;
    display: flex;
    justify-content: center;
}

.gameImage > img {
    max-width: 100%;
    height: auto;
}

.playButton button {
    background-color: var(--clr-accent-0);
}

.playButton button:hover {
    background-color: var(--clr-accent-2);
}