:root {
    /* colors */
    --main-bg-color: rgba( 26, 96,255,1);
    --accent-color-1: rgba(173,198,255,1);
    --accent-color-2: rgba(127,166,255,1);
    --accent-color-3: rgba(  0, 44,145,1);
    --accent-color-4: rgba(  0, 34,112,1);

    /* add fonts */
}

body {
    height: 150vh;
    background-color: var(--main-bg-color);
    /* Sets flexbox display and alignment for the page */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
}

header {
    /* Centers content inside*/
    display: flex;
    justify-content: center;
    /* Sets min and max width sizes */
    width: clamp(200px, 75%, 500px);
    /* Sets min and max font sizes */
    font-size: clamp(2rem, 2vw, 4rem);
}

.playerTurn {
    /* Centers content inside*/
   display: flex;
   justify-content: center;
   /* Sets min and max width sizes */
   width: clamp(100px, 45%, 300px);
   /* Sets min and max font sizes */
   font-size: clamp(1.5rem, 1.5vw, 2.5rem);
}

footer {
    background-color: var(--accent-color-3);
    border: 1px solid black;
    padding: auto;
    width: clamp(200px, 50%, 80%);
    height: minmax(150px, auto);
    /* Positions footer content */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.logoImage {
    width: 75px;
    height: 75px;
    border: 2px solid red;
    margin: 1rem;
}