.gameGrid {
    /* Sets min and max width sizes */
    width: 90%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column; 
    gap: .25rem;
}

.catBox {
    background-color: var(--clr-primary-3);
    color: white;
    text-shadow: 1px 1px 1px black;
}

.gameBox {
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointsBox {
    background-color: var(--clr-primary-2);
}

.pointsBox:hover, .pointsBox:focus {
    background-color: var(--clr-primary-0);
}