.mainHeader {
    text-shadow: 
        2px 2px 2px var(--clr-accent-3),
        4px 4px 2px var(--clr-accent-4);
}

.gameImage {
    width: 90%;
    display: flex;
    justify-content: center;
}

.gameImage > img {
    max-width: 100%;
    height: auto;
}

.bx-play{
    font-size: clamp(2rem, 10vw, 10rem);
    color: var(--clr-accent-0);
    text-shadow: 
        2px 2px 2px var(--clr-accent-3);
}

.bx-play:hover {
    color: var(--clr-accent-1);
    text-shadow: 
        2px 2px 2px var(--clr-accent-2);
}