@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&display=swap');

:root {
    /* colors */
    --clr-primary-0: rgba(  26, 99,255,1);
    --clr-primary-1: rgba(173,199,255,1);
    --clr-primary-2: rgba(127,168,255,1);
    --clr-primary-3: rgba(   0, 46,145,1);
    --clr-primary-4: rgba(   0, 36,111,1);

    --clr-accent-0: rgba(255,169,  0,1);
    --clr-accent-1: rgba(255,224,164,1);
    --clr-accent-2: rgba(255,206,112,1);
    --clr-accent-3: rgba(217,143,  0,1);
    --clr-accent-4: rgba(167,110,  0,1);
}

body {
    background-color: var(--clr-primary-1);
    /* Sets flexbox display and alignment for the page */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;
}

header {
    /* Centers content inside*/
    display: flex;
    justify-content: center;
    /* Sets min and max width sizes */
    width: clamp(240px, 80%, 1280px);
    /* Sets min and max font sizes */
    font-size: clamp(1rem, 2vw, 4rem);
    color: var(--clr-accent-0);
    font-weight: 900;
}

footer {
    background: linear-gradient(135deg, var(--clr-primary-4), var(--clr-primary-2));
    margin-top: 2rem;
    border: 1px solid black;
    padding: auto;
    width: 80%;
    height: auto;
    /* Positions footer content */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-weight: 300;
}

.logoImage {
    width: 75px;
    height: 75px;
    margin: 1rem;
}