#finalCat {
    width: 60%;
    margin-bottom: 2rem;
}

#finalCat > h3 {
    background-color: var(--clr-primary-3);
    border: 1px solid black;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 4rem);
}

#finalQuestion {
    background-color: var(--clr-primary-2);
    height: 500px;
    border: 1px solid black;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: 400;
}

#finalQuestion > p {
    width: 80%;
    height: auto;
}

#finalInput > .userInput {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}